noderedflow2.json
[{"id":"1e93b309df5b8a6c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9e58624.7faaba","type":"mqtt out","z":"1e93b309df5b8a6c","name":"","topic":"esp32/output","qos":"","retain":"","broker":"10e78a89.5b4fd5","x":730,"y":540,"wires":[]},{"id":"abf7079a.653be8","type":"mqtt in","z":"1e93b309df5b8a6c","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"inputs":0,"x":330,"y":220,"wires":[["21eae8f8.2971b8","70b62d4895ec7dbe"]]},{"id":"83cf37cf.c76988","type":"ui_switch","z":"1e93b309df5b8a6c","name":"","label":"Output (LED_BUILTIN)","tooltip":"","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":520,"y":540,"wires":[["9e58624.7faaba"]]},{"id":"cc79021b.9a751","type":"debug","z":"1e93b309df5b8a6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"4aecba01.78ce64","type":"mqtt in","z":"1e93b309df5b8a6c","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto-detect","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"inputs":0,"x":320,"y":340,"wires":[["df37e6b7.64c1c8","0aee1ce95b7c0fd8"]]},{"id":"22efa7b7.544a28","type":"debug","z":"1e93b309df5b8a6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":298,"wires":[]},{"id":"21eae8f8.2971b8","type":"ui_chart","z":"1e93b309df5b8a6c","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":790,"y":220,"wires":[[]]},{"id":"df37e6b7.64c1c8","type":"ui_gauge","z":"1e93b309df5b8a6c","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","diff":false,"className":"","x":780,"y":340,"wires":[]},{"id":"7de87c1390bc16af","type":"influxdb out","z":"1e93b309df5b8a6c","influxdb":"b95a32d923349e20","name":"","measurement":"esp32/temperature1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Another test","bucket":"esp data test","x":850,"y":140,"wires":[]},{"id":"35942a37cb65d499","type":"influxdb out","z":"1e93b309df5b8a6c","influxdb":"b95a32d923349e20","name":"","measurement":"esp32/humidity1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"Another test","bucket":"esp data test","x":840,"y":260,"wires":[]},{"id":"0aee1ce95b7c0fd8","type":"change","z":"1e93b309df5b8a6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["22efa7b7.544a28","35942a37cb65d499"]]},{"id":"70b62d4895ec7dbe","type":"change","z":"1e93b309df5b8a6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["cc79021b.9a751","7de87c1390bc16af"]]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"b95a32d923349e20","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"cloud","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://us-east-1-1.aws.cloud2.influxdata.com/","timeout":10,"rejectUnauthorized":true},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"}]